/*Fonts*/

@font-face{
  font-family: 'peace-sans';
  src: url('../fonts/peace/Peace Sans/Peace Sans.otf');
}
@font-face{
  font-family: 'banda-bold';
  src: url('../fonts/banda/Banda Bold/BandaBold-Bold.otf');
}
@font-face{
  font-family: 'banda-bold-italic';
  src: url('../fonts/banda/Banda Bold/BandaBold-BoldItalic.otf');
}
@font-face{
  font-family: 'banda-regular';
  src: url('../fonts/banda/Banda Regular/BandaRegular.otf');
}


/*Fuentes de Tic tac*/
.peace-sans{
  font-family: 'peace-sans';
}
.banda-bold{
  font-family: 'banda-bold';
}
.banda-bold-italic{
  font-family: 'banda-bold-italic';
}
.banda-regular{
  font: 'banda-regular';
}
/*Fuentes de Tic tac*/


/*Font colors*/

.pink-cintillo{
  color: #873d83;
}


/*MENU*/
.menuShadowSecciones {
  overflow-y: hidden !important;
}
.menuTicTac{
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 1%, rgba(92,8,138,0.82) 50%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 1%,rgba(92,8,138,0.82) 50%);
  background: linear-gradient(to right, rgba(0,0,0,0) 1%,rgba(92,8,138,0.82) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d15c088a',GradientType=1 );
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0%;
  right: -200px;
  list-style:none;
}

#iconos{
  width: 40%;	
 /* -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transition-timing-function: ease;*/
}
/*
#iconos:hover {
  width: 45%;
}*/
ul li {
  position: relative;
  top: 30%;
}
/*MENU*/


/*Logotipo tictac*/

.logotipo{

  width: 9%;
  top: 5%;
  margin-top: 5%;

}


/*Logotipo tictac*/


h1{
  font-family: 'banda-bold';
  font-size: 3em;
  color: white;

}

/*Secciones background*/

.section{
  background-color: rgb(231, 65, 191) !important;
}
/*Secciones background*/

/*Mouse scroll*/

.mouse{
    overflow: hidden;
    position: relative;
    top: 28em;
}

/*Positions*/
.top1{
  margin-top: 5%;
}
.margin-top{
  margin-top: 3%;
}
.relative{
  position: relative;
}

.tableCell{
 display: block;
}

/*cintillo*/

.cintillo{
  padding: 30px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color:  white;
  height: 10em;
  z-index: 100;
}